/*CSS*/
body {
	background: #919191;
}

a:link {
    color: #e0e0e0;
}
/* visited link */
a:visited {
  color: #e0e0e0;
}
/* mouse over link */
a:hover {
    color: #595959;
}
/* selected link */
a:active {
   color: #000000;
}

a img { 
	border: none;
}

img{
	margin-top: 0px;
	
	margin-bottom: 100px;
	
	
}
.topPadding{
	height: 100px;
}
.zoom2{
	margin:auto;
	
}
p {
	color: #e0e0e0;
    margin: 0 0 5px 0;

}
p2 {
	color: #e0e0e0;
    margin: 0 0 5px 0;
	font-size:14px;
}
.links{
	font-family: "Verdana";
	color: #e0e0e0;
	font-size: 28pt;
	margin-top: -3;
	margin-bottom: 5px;
	margin-left: -7px;
	margin-bottom: 60px;
}
.milescoolidge{
	font-size: 60pt;
	font-family: "Verdana";
}
.worklinks{
	font-family: "Verdana";
	width: 250px;
	margin-left: 219px;
	margin-top: 0px;
	
	line-height:180%;
	font-size: 13px;
	line-height: 125%;
	
}
.heading{
font-family: "Verdana";
	margin-bottom: 0px;
	text-align: center;
}
.mc{
	width: 1000px;
	margin: 0 auto;
}
